#mainbody {
	background-color: SandyBrown;
	color: black;
	font-family: Tahoma;
	font-weight: bold;
	margin: 5%;
	padding: 20px;
	padding-bottom: 20px;
	border: 2px solid black;
	outline-style: double;
	outline-color: black;
	margin: 2rem;
	font-size: 1.1rem;
	width: 870px;
	word-break: all;
}

select {
	border: 2px solid #dddddd;
	border-radius: 10px;
	}

.btn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
  position: relative;
}

.bx {
  font-size: 1.1rem;
}

.dropdown {
  position: absolute;
  width: 250px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background: black;
}

.dropdown a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: black;
}

.dropdown a:hover {
  background-color: var(--color);
  color: white;
}

.dropdown {
  position: absolute;
  width: 250px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background: white;
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);

  transform: translateY(0.5rem);
  visibility: hidden;
  opacity: 0;
}

.show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}

.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --color: #166e67;
  --gap: 0.5rem;
  --radius: 5px;
}

.fretboard {
	font-family: Courier New;
	color: white;
	background-color: Sienna;
	font-size: 20px;
	text-align: center;
	}
	
.fretnotes {
	font-family: Tahoma;
	text-align: center;
	color: white;
	font-size: 14px;
	}
	
td {
	padding: 1px;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	}
	
th {
	font-family: Tahoma;
	font-size: 14px;
	}
	
#footer {
	font-size: 14px;
	font-style: italic;
	bottom: 5px;
	}
	
#circfif, #chordthing, #scale {
	font-family: Garamond;
	font-size: 22px;
	}
	
#sitetitle {
	background-color: black;
	text-align: center;
	font-size: 25px;
	top: 0;
	position: fixed;
	width: 100%;
	}
	
#guitar {
	color: slateblue;
	font-weight: normal;
	font-family: Trebuchet MS;
	}
	
#auxiliator {
	color: darkslateblue;
	font-weight: bold;
	font-family: Trebuchet MS;
	}
	
body {
		background-color: SandyBrown;
		margin: 0;
		padding: 0;
	}